@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    font-family: Roboto;
    background-color: darkslategrey;
    padding: 10px 10px 10px 0;
    border: 1px solid gray;
}

#account_icon {
    color: #fff;
    cursor: pointer;
    padding: 15px 15px;
    border-radius: 1rem;
    transition: .3s ease;

}

#div_account_icon {
    margin: auto 10px auto auto;
}


.top_menu {
    position: relative;
    margin-top: 2rem;
    /* top: 0%; */
    display: none;
    background-color: darkslategrey;
    border-radius: 0rem 1rem 1rem 0rem;
}

#div_account_icon :hover {
    background-color: #383838;
    display: initial;
}

.logo {
    margin-left: 1rem;
    cursor: pointer;
}

#sidebar {
    position: sticky;
    height: 100vh;
    width: 3rem;
    background-color: rgb(40, 59, 59);
}

.side_li{
    position: relative;
    display: flex;
    color: #fff;
    padding: 15px 15px;
    margin: auto;
    transition: .3s ease;
    border-radius: 1rem;
    cursor: pointer;
}

.side_li :hover {
    background-color: #383838;
}

.side_li:hover ul {
    display: initial;
}

#sidebar ul li:hover {
    background-color: #383838;
}

#side_list {
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.side_menu {
    position: absolute;
    margin-left: 1rem;
    top: 0%;
    display: none;
    background-color: rgb(40, 59, 59);
    border-radius: 0rem 1rem 1rem 0rem;
}

.side_menu :hover {
    background-color: #383838;
}

.sous_li {
    display: flex;
    color: #fff;
    padding: 10px 10px;
    margin-left: 1rem;
    height: auto;
    transition: .3s ease;
    border-radius: 2rem; 
}