.movable {
    position: absolute;
    z-index: 2;
    user-select: none;
}
.movable:hover {
    outline: 3px solid #357df9;
    z-index: 100;
}

.selected {
    outline: 3px solid red;
    cursor: move;
}
.selected:hover {
    outline: 3px solid red;
}

.resizer {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 1px;
    background-color: whitesmoke;
    outline: 1px solid red;
    z-index: 2;
}

.resizer.nw {
    top: -5px;
    left: -5px;
    cursor: nw-resize;
}

.resizer.ne {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}

.resizer.sw {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
}

.resizer.se {
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
}

.gridCont {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    visibility: hidden;
}

.grid {
    /* outline: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center; 
    /* z-index: 1; */
}

.gridInt {
    background-color: rgba(0, 0, 0, 0.08);
    width: 70%;
    height: 70%;
}

.zoneSelect {
    position: absolute;
    outline: 3px solid #357df9;
    z-index: 1;
}

.inMove {
    outline: none;
    background-color: rgba(0, 0, 0, 0.2);
}

.img {
    width: 20vw;
    height: 20vh;
}
