body {
    margin: 0;
    padding: 0;
}

.item {
    width: 30vw;
    /* position: absolute;
    right: 15vw;
    top: 20vh; */
}

.img {
    display: flex;
    width: 100%;
    
}


.item2 {
    display: flex;
    width: 40vw;
    height: 200px;
    background-color: orange;
    position: absolute;
    /* bottom: 200px; */
}

.textetest {
    width: 30vw;
}