body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.item {
    width: 30vw;
    position: absolute;
    right: 15vw;
    top: 20vh;
}

.item2 {
    display: flex;
    width: 40vw;
    height: 200px;
    background-color: orange;
    position: absolute;
    bottom: 200px;
}

.textetest {
    width: 300px;
}

.haut {
    height: 100px;
    background-color: burlywood;
}

.bas{
    background-color: blanchedalmond;
    height: 100%;
    display: flex;
}

.sidebar {
    background-color: sandybrown;
    position: relative;
    bottom: 0;
    left: 0;
    width: 300px;
}
.page {
    position: relative;
    margin: 5px;
    z-index: 0;
    overflow: scroll;
}
.btn {
    position: absolute;
    right: 0;
}