.movable {
    position: absolute;
}
.movable:hover {
    outline: 3px solid #357df9;
}

.selected {
    outline: 3px solid red;
    cursor: move;
}
.selected:hover {
    outline: 3px solid red;
}

.resizer {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: whitesmoke;
    outline: 1px solid black;
    z-index: 2;
}

.resizer.nw {
    top: -5px;
    left: -5px;
    cursor: nw-resize;
}

.resizer.ne {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}

.resizer.sw {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
}

.resizer.se {
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
}
