.editable {
    outline: 3px solid green;
    cursor: text;
}
.editable:hover {
    outline: 3px solid green;
}
.text {
    overflow: hidden;
    position: absolute;
    top: 5em;
  right: 35em;
}

.btn{

    position: absolute;
    left : 40%;
}