.editable {
    outline: 3px solid green;
    cursor: text;
    user-select: auto;
}
.editable:hover {
    outline: 3px solid green;
}
.text {
    position: absolute;
    top: 10vh;
    left: 25vw;
    
}

.intText {

    overflow: hidden;
}

/* .btn{

    position: absolute;
    left : 40%;
} */